*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 255, 255);
}
/* proprità wrapper */
.wrapper{
  width: 100%;
  height: 100vh;
  background-color: #141922;
  z-index: -1
}

/* Barra alta fissata */
.upgradebar{
  background-color: rgba(0, 0, 0, 0.4);
  height: 100px;
  width: calc(100vw - 10vw);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  right: 0;
  top: 0;
  padding-right: 30px;
  z-index: 0;
}

a:focus,
a:active,
a:link {
  text-decoration: none;
}
/* bottone Upgrade */
.upgradebar a{
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  border: 1px solid white;
  padding: 12px 40px;
  border-radius: 20px;
}

.upgradebar a:hover{
  transform: scale(1.1);
}

/* bara laterale */
.sidebar{
  background-color: black;
  width: 10vw;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px;
}
.flex-item-1{
  /* flex-basis: 60%;
  flex-shrink: 0; */
}
.logo-spotify{
  margin-bottom: 15px;
  width: 100%;
  /* height: 5vh; */
}
img.logoimg{
  max-width: 80%;
  height: auto;
}
.pulsanti{
  width: 100%;
  /* height: 18vh; */
}
img.pulsanti-img{
  max-width: 20%;
  vertical-align: middle;
  opacity: 0.8;
}
a.pulsanti-link-active{
  color: #fff;
}
a.pulsanti-link-active > img{
  opacity: 0.8;
}
a.pulsanti-link-inactive{
  color: #fff;
  opacity: 0.8;
}
.list-item-pulsanti{
  list-style-type: none;
}
.list-item-pulsanti li{
  padding: 5px 0;
  font-size: 14px;
}
a.pulsanti-link-inactive:hover,
a.pulsanti-link-active > img:hover{
  opacity: 1;
}
/* playlist sidebar */
.custom-playlist{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  /* min-height: 40vh; */
  flex-direction: column;
  margin-top: 20px;
}
.custom-playlist h3{
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 8px;
}

/* tasto + */
/* #plus{
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
} */
span.plus{
  display: inline-block;
  width: 37px;
  height: 37px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 25px;
  text-align: center;
  line-height: 37px;
  vertical-align: middle;
  color: black;
}
a.custom-playlist-title-link{
  color: rgba(255, 255, 255, 0.6);
  font-size: 17px;
  display: inline-block;
  margin: 8px 0;
  flex-shrink: 0;
}
a.custom-playlist-title-link:hover{
  color: #fff;
}
a.custom-playlist-title-link:hover span.plus{
  background-color: #fff;
}
.playlist-list-div{
  min-height: 200px;
  overflow: auto;
}
ul.playlist-list{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;

}
ul.playlist-list li{
  line-height: 40px;
}

ul.playlist-list a{
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}
ul.playlist-list a:hover{
  color: rgb(255, 255, 255);
}

/* Flex item 2 sidebar */
.flex-item-2{

}
hr.linea-hr{
  color: rgba(255, 255, 255, 0.6);
  margin: 10px 0;
}
img.profile-img{
  max-width: 20%;
  border: 1px solid black;
  border-radius: 100%;
  background-color: grey;
  vertical-align: middle;
}
span.profile-name{
  font-weight: bold;
}
img.download-img{
  max-width: 10%;
  margin-right: 5px;
}
span.installa-app{
  color: rgba(255, 255, 255, 0.6);
}
span.installa-app:hover{
  color: #fff;
}
/* player bottom */
.player-bottom{
  position: relative;
  z-index: 3;
  background-color: grey;
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.item-player-bottom-1{
  width: calc((100vw / 12)*1.5);
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.sinister-img img{
  max-width: 50px;
  vertical-align: middle;
  display: inline-block;
}

.sinister-img ul{
  display: inline-block;
  list-style: none;
  vertical-align: middle;
  padding-left: 5px;
}
.sinister-img ul li{
  line-height: 14px;;
}
a.sinister-title-link{
  color: #fff;
  font-size: 14px;
  font-weight: bold;

}
a.sinister-subtitle-link{
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
}

a.sinister-title-link:hover,
a.sinister-subtitle-link:hover{
  color: #fff;
  text-decoration: underline;
}

.sinister-pulsanti{
display: flex;
margin-left: 10px;
}
.sinister-pulsanti a{
  color: rgba(255, 255, 255, 0.6);
  margin: 0 10px;
}
.sinister-pulsanti a:hover{
  color: #fff;
}


.item-player-bottom-2{
  min-width: calc((100vw / 12)*8);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.riproduzione-pulsanti{
  font-size: 18px;
  width: calc(100vw / 6);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-shrink: 0;
}
.play-big{
  font-size: 30px;
}
.riproduzione-pulsanti span{
  cursor: pointer;
}

.riproduzione-barra{
  width: calc(100vw / 3);
  flex-shrink: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}

.durata{
  display: inline-block;
  font-size: 12px;
}

.avanzamento-div{
  width: 80%;
  height:4px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  border-radius: 20px;
  cursor: pointer;
}
.barra-avanzamento{
  position: relative;
  display: inline-block;
  width: 25%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
}

.pallino{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: none;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
}

.avanzamento-div:hover .pallino{
  display: block;
}
.avanzamento-div:hover .barra-avanzamento{
  background-color: green;
}

.item-player-bottom-3{
  min-width: calc((100vw / 12)*1.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.volume-div{
  width: 60%;
  height:4px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  border-radius: 20px;
  cursor: pointer;
}

.volume-barra{
  position: relative;
  display: inline-block;
  width: 25%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
}
.pallino-volume{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: none;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
}

.volume-div:hover .pallino-volume{
  display: block;
}
.volume-div:hover .volume-barra{
  background-color: green;
}
